@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
  /* --breakpoint-3xs: 160px; */
  /* --breakpoint-2xs: 350px; */
  --breakpoint-xs: 500px;

  --font-sans: var(--font-inter), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
  --font-num: var(--font-sofia-sans);

  --color-normal: #9fa19f;
  --color-fighting: #ff8000;
  --color-flying: #81b9ef;
  --color-poison: #9141cb;
  --color-ground: #915121;
  --color-rock: #afa981;
  --color-bug: #91a119;
  --color-ghost: #704170;
  --color-steel: #60a1b8;
  --color-fire: #e62829;
  --color-water: #2980ef;
  --color-grass: #3fa129;
  --color-electric: #fac000;
  --color-psychic: #ef4179;
  --color-ice: #3dcef3;
  --color-dragon: #5060e1;
  --color-dark: #624d4e;
  --color-fairy: #ef70ef;
}
