@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --breakpoint-3xs: 160px; */
  --breakpoint-2xs: 24rem;
  --breakpoint-xs: 32rem;
  /* --breakpoint-3xl: 132rem; */

  --font-sans: var(--font-geist), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
  --font-num: var(--font-sofia-sans);

  --color-physical: #eb5628;
  --color-special: #375ab2;
  --color-status: #828282;

  --color-physical-light: #f29173;
  --color-special-light: #7d94cd;
  --color-status-light: #aeaeae;

  --color-physical-dark: #99381a;
  --color-special-dark: #243b74;
  --color-status-dark: #555555;

  --color-normal: #9fa19f;
  --color-fighting: #ff8000;
  --color-flying: #81b9ef;
  --color-poison: #9141cb;
  --color-ground: #915121;
  --color-rock: #afa981;
  --color-bug: #91a119;
  --color-ghost: #704170;
  --color-steel: #60a1b8;
  --color-fire: #e62829;
  --color-water: #2980ef;
  --color-grass: #3fa129;
  --color-electric: #fac000;
  --color-psychic: #ef4179;
  --color-ice: #3dcef3;
  --color-dragon: #5060e1;
  --color-dark: #624d4e;
  --color-fairy: #ef70ef;
}

::view-transition-group(root) {
  animation-duration: 0.5s;
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -50%, 150% 50%, 150% 50%, 50% -50%);
  }
  to {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(50% -50%, 150% 50%, 150% 50%, 50% -50%);
  }
  to {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}
