---
import pMap from 'p-map'
import type { Pokemon, PokemonSpecies } from 'pokedex-promise-v2'
import Layout from '@/layouts/Layout.astro'
import Shell from '@/components/Shell.astro'
import SpeciesCardGrid from '@/components/compounds/SpeciesCardGrid'
import pokeapi from '@/lib/api/pokeapi'
import { getSpeciesList } from '@/lib/providers'
import { excludedVariants } from '@/lib/utils/excluded-slugs'
import type { TypeKey } from '@/lib/domain/types'
import { getTranslation } from '@/lib/utils/pokeapi-helpers'

const speciesList = await getSpeciesList()

const species = await pMap(
  speciesList.results,
  (result) => pokeapi.getResource<PokemonSpecies>(result.url),
  { concurrency: 10 }
)

const speciesPokemon: Record<string, Pokemon> = Object.fromEntries(
  await pMap(
    species,
    async (specie) => {
      const pokemon = await pokeapi.getResource<Pokemon>(
        specie.varieties
          .filter((v) => !excludedVariants.includes(v.name))
          .find((v) => v.is_default)!.pokemon.url
      )
      return [specie.name, pokemon] as const
    },
    { concurrency: 10 }
  )
)

const speciesData = species.map((specie) => {
  const pokemon = speciesPokemon[specie.name]
  return {
    id: specie.id,
    slug: specie.name,
    name: getTranslation(specie.names, 'name')!,
    types: pokemon.types.map((t) => t.type.name as TypeKey),
  }
})
---

<Layout title="Pokemon List">
  <Shell>
    <div class="mx-auto max-w-384">
      <SpeciesCardGrid data={speciesData} client:load />
    </div>
  </Shell>
</Layout>
