---
import pMap from 'p-map'
import type { Item } from 'pokedex-promise-v2'
import Layout from '@/layouts/Layout.astro'
import AppShell from '@/components/AppShell'
import ItemCardGrid from '@/components/compounds/ItemCardGrid'
import pokeapi from '@/lib/api/pokeapi'
import { itemResourceList } from '@/lib/providers'
import {
  getTranslation,
  type ItemCategoryKey,
  ItemCategoryToPocket,
  type ItemPocketKey,
} from '@/lib/utils/pokeapi-helpers'
import { excludedItems } from '@/lib/utils/excluded-slugs'

const filteredItems = itemResourceList.results.filter(
  (result) =>
    !excludedItems.includes(result.name) &&
    !result.name.startsWith('dynamax-crystal-')
)

const devSlice = import.meta.env.DEV
  ? filteredItems.slice(300, 340)
  : filteredItems

const items = await pMap(
  devSlice,
  (result) => pokeapi.getResource<Item>(result.url),
  { concurrency: 20 }
)

const itemsData = items
  .filter((resource) =>
    resource.names.some((name) => name.language.name === 'en')
  )
  .map((resource) => {
    const { id, name, category } = resource
    const imageUrl = `https://raw.githubusercontent.com/blai30/PokemonSpritesDump/refs/heads/main/items/item_${name}.webp`
    const pocket = ItemCategoryToPocket[category.name as ItemCategoryKey]
    return {
      id,
      slug: name,
      name: getTranslation(resource.names, 'name')!,
      defaultDescription:
        getTranslation(resource.effect_entries, 'short_effect') ?? '',
      flavorTextEntries: resource.flavor_text_entries.filter(
        (e) => e.language.name === 'en'
      ),
      imageUrl,
      category: category.name as ItemCategoryKey,
      pocket: pocket as ItemPocketKey,
    }
  })
  .sort((a, b) => a.name.localeCompare(b.name))
---

<Layout title="Item List">
  <AppShell pathname={Astro.url.pathname} client:load>
    <div class="mx-auto w-full max-w-384">
      <ItemCardGrid data={itemsData} client:load />
    </div>
  </AppShell>
</Layout>
