---
import pMap from 'p-map'
import type { Item } from 'pokedex-promise-v2'
import Layout from '@/layouts/Layout.astro'
import Shell from '@/components/Shell.astro'
import ItemCardGrid from '@/components/compounds/ItemCardGrid'
import pokeapi from '@/lib/api/pokeapi'
import { itemResourceList } from '@/lib/providers'
import { ITEM_CATEGORIES, type ItemCategoryKey, type ItemPocketKey } from '@/lib/domain/items'
import { getTranslation } from '@/lib/utils/pokeapi-helpers'
import { excludedItems } from '@/lib/utils/excluded-slugs'

const itemList = import.meta.env.DEV
  ? itemResourceList
  : await pokeapi.getList('item', 2500, 0)

const filteredItems = itemList.results.filter(
  (result) =>
    !excludedItems.includes(result.name) &&
    !result.name.startsWith('dynamax-crystal-')
)

const items = await pMap(
  filteredItems,
  (result) => pokeapi.getResource<Item>(result.url),
  { concurrency: 10 }
)

const itemsData = items
  .filter((resource) =>
    resource.names.some((name) => name.language.name === 'en')
  )
  .map((resource) => {
    const { id, name, category } = resource
    const imageUrl = `https://raw.githubusercontent.com/blai30/PokemonSpritesDump/refs/heads/main/items/item_${name}.webp`
    const pocket = ITEM_CATEGORIES[category.name as ItemCategoryKey].pocket
    return {
      id,
      slug: name,
      name: getTranslation(resource.names, 'name')!,
      defaultDescription:
        getTranslation(resource.effect_entries, 'short_effect') ?? '',
      flavorTextEntries: resource.flavor_text_entries.filter(
        (e) => e.language.name === 'en'
      ),
      imageUrl,
      category: category.name as ItemCategoryKey,
      pocket: pocket as ItemPocketKey,
    }
  })
  .sort((a, b) => a.name.localeCompare(b.name))
---

<Layout title="Item List">
  <Shell>
    <div class="mx-auto w-full max-w-384">
      <ItemCardGrid data={itemsData} client:load />
    </div>
  </Shell>
</Layout>
