---
import type { Pokemon, PokemonForm } from 'pokedex-promise-v2'

import { getTranslation } from '@/lib/utils/pokeapi-helpers'
import { monsterSpriteUrl } from '@/lib/utils/sprites'

interface Props {
  pokemon: Pokemon
  forms: PokemonForm[]
}

const { pokemon, forms } = Astro.props
const cosmeticForms = forms.filter((form) => form.name !== pokemon.name)
---

<section
  class="@container flex flex-col gap-4 rounded-xl p-4 inset-ring-1 inset-ring-zinc-200 dark:inset-ring-zinc-800"
>
  <h2 class="text-xl font-medium text-black dark:text-white">Cosmetic forms</h2>
  {cosmeticForms.length === 0 ? (
    <p class="flex items-baseline gap-2">
      <span class="text-lg text-pretty text-zinc-700 dark:text-zinc-300">
        No cosmetic forms available for this Pokémon.
      </span>
    </p>
  ) : (
    <ul
      class="grid grid-cols-1 gap-4 @sm:grid-cols-2 @lg:grid-cols-3 @xl:grid-cols-4 @4xl:grid-cols-6"
    >
      {cosmeticForms.map((form) => {
        const name = getTranslation(form.form_names, 'name')!
        const imageUrl = monsterSpriteUrl(pokemon.id, form.is_default ? undefined : form.name)
        return (
          <li
            class="flex flex-col items-center gap-2 rounded-lg bg-linear-to-br from-white to-zinc-100 p-4 dark:from-zinc-900 dark:to-zinc-950"
          >
            <span title={name} class="text-sm">{name}</span>
            <img src={imageUrl} alt={name} width={128} height={128} class="object-contain" />
          </li>
        )
      })}
    </ul>
  )}
</section>
